# Android build files
/build/
**/build/
*.iml
.gradle/
local.properties
gradle.properties
# IDE & logs
.idea/
*.log

# Compiled files
*.class
*.dex
*.apk
*.ap_

# NDK / C++ build cache
.cxx/
.externalNativeBuild/
